body {
  background-color: #000;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0 auto;
}

/* Default font size for h1 using relative units */
h1 {
  font-size: 1.75rem;
  margin-top: 0;
  /* Remove the top margin */
}

/* Default font size for h2 using relative units */
h2 {
  font-size: 1.1rem;
  margin-bottom: 0;
  /* Remove the bottom margin */
}

/* Increase font size for mobile devices using relative units */
@media only screen and (max-device-width: 768px) {
  body h1 {
    font-size: 2.0rem !important;
    margin-top: 0;
    /* Remove the top margin */
  }

  body h2 {
    font-size: 1.35rem !important;
    margin-bottom: 0;
    /* Remove the bottom margin */
  }
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #6F7632;
  font-weight: bold;
}

img {
  border: 1px solid #000;
}

video {
  border: 1px solid #000;
}

ul {
  margin: 0;
  list-style-position: outside;
  list-style-type: square;
}

li {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.avatar {
  width: 270px;
  margin: 0px;
  border: 0px solid;
}

.MainContainer {
  width: 960px;
  min-height: 600px;
  margin: 1px auto;
  padding: 1px;
  background-color: #ffffff;
}