body {
  background-color: #000;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #800020;
  font-weight: bold;
}

.profile {
/*  color: #6F7632;*/
  text-decoration: none;
}

.profile:hover {
  color: #6F7632;
  font-weight: bold;
}

img {
  border: 1px solid #000;
}

video {
  border: 1px solid #000;
}

ul {
	list-style-position: outside;
	list-style-type: square;
}

.avatar {
  width:160;
  margin: 0px;
  border: 0px solid #800020;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.MainContainer {
  width: 970px;
  min-height: 600;
  margin: 0 auto;
  padding: 0;
  background: #FFF;
}


