body {
  background-color: #000;
  width: auto;
  font: 12px -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color:#666;
  font-weight:400;
  margin: 0 auto;
}

h2 {
  font: 20px -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: bold;
}

a {
  color: #a3392c;
  /*color: #333;*/
  text-decoration: none;
}

a:hover {
  color: #EEE;
}

.name {
  font-size: 36px;
  font-weight: bold;
}

img {
  border-radius: 10px;
}

ul {
	list-style-position: outside;
	list-style-type: square;
}

.rounded-circle {
  border-radius: 50% !important;
}
 
.MainContainer {
  width: 970px;
  min-height: 1000px;
  margin: 0 auto;
  padding: 0;
  background: #FFF;
  border: 0px solid;
  border-radius: 10px;
}


